.container {
  position: relative;
  display: flex;
  margin-right: 16px;
}

.button {
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.bell {
  display: block;
  width: 16px;
  height: auto;

  path {
    fill: #fff;
  }
}

.count {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 8px;
  line-height: 16px;
  text-align: center;
  background-color: #E90C5A;
  color: #fff;
}
