@import "../../styles/variables";

:global {
  .user-menu {
    position: relative;
    &-handle {
      display: flex;
      align-items: center;
      padding-bottom: 8px;
      border-bottom: 1px solid $gray-10;
      color: $grey-text;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      outline: none;
      cursor: pointer;
    }

    &-handler-active .avatar {
      position: relative;
  
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($tc-white, .8);
        background-image: url("../../assets/images/icon-close.svg"); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 14px;
        border-radius: 50%;
        border: 2px solid $tc-white;
      }
    }
  }

  .user-menu-list {
    margin: 8px 0 0;
    padding: 0;

    > li {
      padding-left: 0;
      list-style: none;

      + li {
        margin-top: 8px;
      }

      > a {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 8px;
        color: $grey-text;
        font-size: 12px;
        line-height: 18px;
        text-decoration: none;

        &:hover {
         opacity: 0.7;
        }

        img {
          margin-right: 6px;
        }
      }
    }
  }

  .user-menu-popover {
    background-color: $tc-white;
    border-radius: 8px;
    box-shadow: 0px 10px 50px rgba($black, .16);
    right: -16px;
    position: absolute;
    top: 43px;
    width: 168px;
    z-index: 1000;
    &-arrow {
      position: absolute;
      right: 0;
      top: -9px;
      width: 52px;
      height: 9px;
      background-image: url("../../assets/images/arrow-up.svg"); 
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-content {
      padding: 8px 16px 16px;
    }
  }
}